app:
  kafka:
    partitions: 1
    topics:
      appTopic: quiz-service-events
    replicas: 1
  open-api:
    description: @project.description@
    title: @project.name@
    version: @project.version@
spring:
  cache:
    type: redis
    redis:
      time-to-live: 3600000
      cache-null-values: false
  application:
    name: quiz-service
  data:
    redis:
      port: ${REDIS_PORT:6379}
      host: ${REDIS_HOST:localhost}
  datasource:
    password: ${DATABASE_PASSWORD:password}
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/${DATABASE_NAME:quiz_service}
    username: ${DATABASE_USER:default}
  kafka:
    producer:
      retries: 10
      acks: all
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        delivery:
          timeout: 60000
        request:
          timeout:
            ms: 30000
        linger:
          ms: 0
        max:
          inflight:
            requests:
              per:
                connection: 5
        enable:
          idempotence: true
    bootstrap-servers: ${BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: quiz-service-group
      properties:
        spring:
          json:
            trusted:
              packages: xyz.catuns.edupulse.quiz.*
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  profiles:
    active: dev
  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: false
