spring:
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:}:${DATABASE_PORT:5432}/${DATABASE_NAME:quiz_service}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        show_sql: false
server:
  port: 8080
logging:
  level:
    root: warn
    xyz:
      catuns:
        edupulse:
          quiz: info
