spring:
  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
logging:
  level:
    root: info
    xyz:
      catuns:
        edupulse:
          quiz: debug
