spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
    properties:
      hibernate:
        show_sql: true
  sql:
    init:
      mode: always
logging:
  level:
    root: info
    xyz:
      catuns:
        edupulse:
          quiz: debug
server:
  port: 8081

jwt:
  security:
    public-paths: /**