spring:
  data:
    redis:
      host: localhost
  datasource:
    url: jdbc:postgresql://localhost:${DATABASE_PORT:5432}/${DATABASE_NAME:quiz_service}
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
logging:
  level:
    root: info
    xyz:
      catuns:
        edupulse:
          quiz: debug
server:
  port: 8081

jwt:
  security:
    public-paths: /**