spring:
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
logging:
  level:
    root: info
    xyz:
      catuns:
        edupulse:
          quiz: debug
server:
  port: 8081
jwt:
  security:
    public-paths: /**
